*{
    margin: 0px;
    padding: 0px;
}

#sayfa{
    width: 1348px;
    height: 900px;
}

#h11{
    color: blue;
}


#photo{
    background-image: url(iletisim.jpg);
    background-size: 400px 250px;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    width: 400px;
    height: 250px;
    position: relative;
    top: 75px;
    left: 50px;

}

#bilgi{
    background-color:white;
    border-style: solid;
    border-width: 4px;
    width: 400px;
    height: 150px;
    position: relative;
    top: 125px;
    left: 50px;
}


#mesaj{
    background-color:white;
    border-style: solid;
    border-width: 4px;
    width: 600px;
    height: 450px;
    position: relative;
    top: -340px;
    left: 700px;
}

#form1{
    position: relative;
    top: 20px;
}
#fname{
    position: relative;
    left: 30px;
    border-style: solid;
}

#fname1{
    position: relative;
    left: 25px;
}

#lname{
    position: relative;
    left: 70px;
    border-style: solid;
}

#fname2{
    position: relative;
    left: 65px;
}

#info{
    position: relative;
    left: 22px;
    border-style: solid;
    width: 465px;
}

#info1{
    position: relative;
    left: 25px;
}

#message{
    position: relative;
    left: 25px;
    border-style: solid;
}
#message1{
    position: relative;
    left: 25px;
}

#submit{
    position: relative;
    top: 15px;
    left: 220px;
    width: 150px;
    height: 30px;
    background-color: rgb(141, 141, 199);
}
#contact{
    width: 1348px;
    height: 150px;
}

#konum{
    background-image: url(harita.png);
    background-size: 1250px 300px;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    width: 1250px;
    height: 300px;
    position: relative;
    top: -250px;
    left: 50px;
}

#anamenu{
    background-color:white;
    height: 50px;
    width: 1260px;
    position: relative;
    top: -200px;
    left: 50px;
} 
#anamenu ul{
    list-style-type: none;
}
#anamenu ul li{
    border-style: solid;
    width: 120px;
    border-radius: 20px;
    text-align: center;
    font-style: oblique;
    background-color:white;
    position: relative;
    left: 250px;
    top: 10px;
    margin-left: 100px;
    display:inline-block
}
    
